[Desktop Entry]
Version=1.0
Type=Link
Name=General C++ - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/playlist?list=PLYmIsLVSssdLsw9ic8TV8wcEky5TGc4Ro
