[Desktop Entry]
Version=1.0
Type=Link
Name=Mulithreading In C++
Comment=YouTube
Icon=user-bookmarks
URL=https://www.youtube.com/playlist?list=PLk6CEY9XxSIAeK-EAh3hB4fgNvYkYmghp
