[Desktop Entry]
Version=1.0
Type=Link
Name=Ctypes Series
Comment=YouTube
Icon=user-bookmarks
URL=https://www.youtube.com/playlist?list=PLHwXkLexR9MCqqr5hD_8o5rbSXYHtfFiB
