[Desktop Entry]
Version=1.0
Type=Link
Name=Python ctypes Tutorial - CodersLegacy
Comment=
Icon=user-bookmarks
URL=https://coderslegacy.com/python/ctypes-tutorial/
