[Desktop Entry]
Version=1.0
Type=Link
Name=Modern C++ (cpp) Concurrency - YouTube
Comment=Concurrency
Icon=user-bookmarks
URL=https://www.youtube.com/playlist?list=PLvv0ScY6vfd_ocTP2ZLicgqKnvq50OCXM
