[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - ttroy50/cmake-examples: Useful CMake Examples
Comment=CMakeExamples
Icon=user-bookmarks
URL=https://github.com/ttroy50/cmake-examples/tree/master
