[Desktop Entry]
Version=1.0
Type=Link
Name=Shared Libraries - YouTube
Comment=Software Development with C++
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=yxZqhAfdODI
