[Desktop Entry]
Version=1.0
Type=Link
Name=Thread Pool In C++ - YouTube
Comment=Master Multithreading
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=u7ouCuieBhI&t
