[Desktop Entry]
Version=1.0
Type=Link
Name=[ Downloads ] - /source/index.html
Comment=C++ Standard Library
Icon=user-bookmarks
URL=https://www.youtube.com/playlist?list=PL5jc9xFGsL8G3y3ywuFSvOuNm3GjBwdkb
GenericName=C++ Standard Library
